@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

:root {
  /*   --primary-color: rgba(21, 31, 40, 255);
  --secondary-color: rgba(181, 134, 54, 255);
  --hov-primary-color: rgba(60, 56, 43, 255);
  --text--color: rgb(221, 221, 221); */
  --primary-color: #121212;
  --secondary-color: #151f28;
  --golden-color: #e8ac46;
  --box-primary-color: #222222;
  --text-primary-color: #e0e0e0;
  --text-secondary-color: #e1e1e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  font-family: "Rubik", sans-serif;
  background: url(/assets/img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  margin: auto;
  position: relative;
}

p {
  color: var(--text-secondary-color);
}

/* ======== HEADER ======== */

header {
  margin: auto;
  overflow: hidden;
  border-bottom: linear;
}

.header-logo {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.header-menu-item {
  text-decoration: none;
  color: var(--text-primary-color);
  background-color: var(--primary-color);
}

#logo-ds {
  margin-left: 4em;
}

#header-icons-div {
  display: flex;
  justify-content: flex-end;
  gap: 3em;
  margin-right: 6em;
}

.header-icon {
  color: var(--golden-color);
}

ion-icon {
  font-size: 32px;
}

/* ======== CLASSES ======== */

#classes {
  margin-top: 2em;
  text-align: justify;
  margin-left: 2em;
  margin-right: 2em;
}

.h1-classes {
  padding: 1.5em;
  text-align: center !important;
  font-size: 2em;
  text-shadow: 3px 3px black;
}

.h2-classes {
  text-shadow: 3px 3px black;
  border-radius: 20px;
}

.p-classes {
  margin-left: 2em;
}

/* ======== NAVIGATION MENU ======== */

.header-menu {
  background-color: var(--primary-color);
  font-family: "Bree Serif", sans-serif !important;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  border-width: 1px 0;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(184, 134, 45, 0),
    #b8862d,
    #ffdf91,
    #b8862d,
    rgba(184, 134, 45, 0)
  );
  border-style: solid;
  position: relative;
}

.header-ul {
  list-style-type: none;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 2em;
}

.header-menu-item-li {
  margin-left: -10px;
  padding-right: 20px;
  border-right: 1px solid #c7c7c7;
  display: flex;
  align-content: center;
  justify-content: center;
}

.header-menu-item-li:last-of-type {
  border-right: none;
}

.header-menu-item-li ul ul li {
  border-right: none;
}

.header-menu-item-a {
  color: white;
}

.header-menu-item-a:hover {
  color: var(--golden-color);
}

/* ======== CONTEÚDO PRINCIPAL ======== */



/* ======== MEDIA QUERYS ======== */

@media (max-width: 900px) {
  #logo-ds {
    margin-left: 1em;
  }
  #header-icons-div {
    margin-right: 1em;
    gap: 2em;
  }
}

@media (max-width: 740px) {
  .header-logo {
    padding: 0.5em;
    overflow: hidden;
  }
  #logo-ds {
    margin-left: 0.5em;
    max-width: 50%;
  }
  #header-icons-div {
    margin-right: 1em;
    gap: 1.5em;
  }
  .header-menu-item-li:first-of-type {
    margin-left: 10px;
  }
  .header-menu-item-a {
    font-size: 0.7em;
  }
}

@media (max-width: 580px) {
  ion-icon {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  #logo-ds {
    margin-left: 0.1em;
    max-width: 50%;
  }
  #header-icons-div {
    margin-right: 0.1em;
    gap: 1em;
  }
  ion-icon {
    font-size: 16px;
  }
}

@media (max-width: 280px) {
  #header-icons-div {
    gap: 0.5em;
  }
}
