@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
  /*   --primary-color: rgba(21, 31, 40, 255);
  --secondary-color: rgba(181, 134, 54, 255);
  --hov-primary-color: rgba(60, 56, 43, 255);
  --text--color: rgb(221, 221, 221); */
  --primary-color: #121212;
  --secondary-color: #151f28;
  --golden-color: #E8AC46;
  --box-primary-color: #222222;
  --text-primary-color: #e0e0e0;
  --text-secondary-color: #e1e1e1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body {
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  font-family: "rubik", sans-serif;
}

main {
  background-color: var(--box-primary-color);
  width: 90%;
  margin: auto;
  border-radius: 15px;
}

p {
  color: var(--text-secondary-color);
}

/* ======== HEADER ======== */

header {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.header-logo {
  background-color: var(--secondary-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.header-menu-item {
  text-decoration: none;
  color: var(--text-primary-color);
}

#logo-ds {
  margin-left: 4em;
}

#header-icons-div {
  display: flex;
  justify-content: flex-end;
  gap: 3em;
  margin-right: 6em;
}

.header-icon {
  color: var(--golden-color);
}

ion-icon {
  font-size: 32px;
}

/* ======== CLASSES ======== */

#classes {
  margin-top: 2em;
  text-align: justify;
  margin-left: 2em;
  margin-right: 2em;
}

.h1-classes {
  padding: 1.5em;
  text-align: center !important;
  font-size: 2em;
  text-shadow: 3px 3px black;
}

.h2-classes {
  text-shadow: 3px 3px black;
  border-radius: 20px;
}

.p-classes {
  margin-left: 2em;
}

/* ======== NAVIGATION MENU ======== */



/* ======== MEDIA QUERYS ======== */

@media (max-width: 900px) {
  header {
    width: 95%;
  }
  #logo-ds {
    margin-left: 1em;
  }
  #header-icons-div {
    margin-right: 1em;
    gap: 2em;
  }
}

@media (max-width: 740px) {
  header {
    width: 100%;
  }
  .header-logo {
    padding: 0.5em;
    overflow: hidden;
  }
  #logo-ds {
    margin-left: 0.5em;
    max-width: 50%;
  }
  #header-icons-div {
    margin-right: 1em;
    gap: 1.5em;
  }
}

@media (max-width: 580px) {
  ion-icon {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  #logo-ds {
    margin-left: 0.1em;
    max-width: 50%;
  }
  #header-icons-div {
    margin-right: 0.1em;
    gap: 1em;
  }
  ion-icon {
    font-size: 16px;
  }
}

@media (max-width: 280px) {
  #header-icons-div {
    gap: 0.5em;
  }
}