@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

:root {
  --primary-color: #121212;
  --secondary-color: #151f28;
  --secondary-color-opacity: rgba(21, 31, 40, 0.85);
  --golden-color: #e8ac46;
  --box-primary-color: #222222;
  --text-primary-color: #e0e0e0;
  --text-secondary-color: #e1e1e1;
  --border-dark-color: #222222;
  --border-dark-color-2: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: var(--text-primary-color);
  font-family: "Rubik", sans-serif;
  background: url(/assets/img/backgroundPreto.png) no-repeat center center fixed;
  background-size: cover;
}

/* ======== SCROLL TO TOP ======== */

/* ======== HEADER ======== */

header {
  margin: auto;
  overflow: hidden;
  border-bottom: linear;
}

.header-top {
  border-width: 1px 0 0 0;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(184, 134, 45, 0),
    #b8862d,
    #ffdf91,
    #b8862d,
    rgba(184, 134, 45, 0)
  );
  border-style: solid;
}

.header-logo {
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

#logo-anchor {
  border-radius: 50px;
  max-width: 90%;
  margin-right: 1em;
}

.navbar-menu-item {
  text-decoration: none;
  color: var(--text-primary-color);
  background-color: var(--primary-color);
}

#logo-ds {
  margin-left: 4em;
}

#header-icons-div {
  display: flex;
  justify-content: flex-end;
  gap: 3em;
  margin-right: 6em;
}

.header-icon {
  color: var(--golden-color);
}

ion-icon {
  font-size: 32px;
}

/* ======== NAVIGATION MENU ======== */

.navbar {
  background-color: var(--primary-color);
  font-family: "Bree Serif", sans-serif !important;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
  border-width: 1px 0;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(184, 134, 45, 0),
    #b8862d,
    #ffdf91,
    #b8862d,
    rgba(184, 134, 45, 0)
  );
  border-style: solid;
  position: relative;
}

.navbar-ul {
  list-style-type: none;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 2em;
}

.navbar-menu-item {
  margin-left: -10px;
  padding-right: 20px;
  border-right: 2px solid var(--border-dark-color-2);
  display: flex;
  align-content: center;
  justify-content: center;
}

.navbar-menu-item:last-of-type {
  border-right: none;
}

.navbar-menu-item ul ul li {
  border-right: none;
}

.navbar-menu-item-a {
  color: white;
}

.navbar-menu-item-a:hover {
  color: var(--golden-color);
}

.active-page {
  color: var(--golden-color);
}

/* ======== RESPONSIVE NAVIGATION MENU ======== */

.toggle-button {
  font-family: "Bree Serif", sans-serif;
  color: white;
  margin: auto;
  align-content: center;
  justify-content: center;
  display: none;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--golden-color);
  border-radius: 10px;
  border-radius: 10px;
}

@media (max-width: 580px) {
  .toggle-button {
    display: flex;
  }

  .toggle-button.active {
    color: var(--golden-color);
  }

  .navbar-links li {
    margin-left: 0;
    padding-right: 0;
    border-right: none;
    text-align: left;
    justify-content: left;
  }
  .navbar-links {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.3em;
  }
  .navbar-links.active {
    display: flex;
  }
  .navbar-ul {
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
  .navbar-menu-item-a {
    padding: 0.5rem 1rem;
  }
  .navbar-menu-item {
    border-bottom: 2px solid var(--border-dark-color);
    max-width: 180px;
  }
  .navbar-menu-item:last-of-type {
    border-bottom: none;
  }
}

/* ======== CONTEÚDO PRINCIPAL ======== */

main {
  padding: 10px;
  min-width: 100%;
  box-shadow: 0 0 1em black;
  min-height: 1080px;
  background-color: var(--secondary-color-opacity);
}

h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  max-width: 90%;
  font-size: 2em;
  margin: auto;
  margin-bottom: 1em;
  padding: 30px 10px 10px 10px;
  text-shadow: 3px 3px black;
  border-width: 0 0 1px;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(184, 134, 45, 0),
    #b8862d,
    #ffdf91,
    #b8862d,
    rgba(184, 134, 45, 0)
  );
  border-style: solid;
  position: relative;
}

h2 {
  padding: 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 1.4em;
  text-shadow: 2px 2px black;
  color: var(--golden-color);
  text-transform: uppercase;
}

h3 {
  padding: 10px;
  width: 90%;
  margin: auto;
  font-size: 1.2em;
  text-shadow: 2px 2px black;
  color: var(--text-primary-color);
}

h4 {
  padding: 10px;
  width: 90%;
  margin: auto;
  font-size: 0.9em;
  text-shadow: 2px 2px black;
  color: var(--text-primary-color);
}

p {
  width: 90%;
  margin: auto;
  font-size: 1em;
  text-indent: 1.5em;
  text-align: justify;
  line-height: 1.5rem;
}

.links-de-texto {
  text-decoration: underline;
  font-style: italic;
  color: var(--text-primary-color);
}

.links-de-texto:hover {
  color: var(--golden-color);
}

.main-img {
  display: flex;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 80%;
  border-radius: 20px;
  box-shadow: 0 0 1em black;
}

/* ======== CONTEÚDO INDEX ======== */

/* ======== CONTEÚDO SOBRE NÓS ======== */

/* ======== CONTEÚDO MODALIDADES ======== */

.modalidades h2 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  max-width: 40%;
}

.h2-bottom-border {
  margin: auto;
  max-width: 10%;
  border-width: 0 0 1px 0;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    var(--secondary-color),
    #c7c7c7,
    var(--text-primary-color),
    #c7c7c7,
    var(--secondary-color)
  );
  border-style: solid;
  border-radius: 20px; /*  */
}

.modalidades p {
  text-indent: 0;
}

.modalidades-conteudo {
  display: none;
}

.h2-bottom-border.active-modalidades {
  border-bottom: none;
}

.modalidades-conteudo.active-modalidades {
  display: block;
  border-width: 0 0 1px 0;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    var(--secondary-color),
    #c7c7c7,
    var(--text-primary-color),
    #c7c7c7,
    var(--secondary-color)
  );
  border-style: solid;
  border-radius: 20px;
}

/* ======== CONTEÚDO EQUIPAMENTOS ======== */

.h2-equip {
  padding: 20px 10px 10px 10px;
}

.tabela-de-equipamentos h3 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 1em 1em 0.7em 1em;
  color: var(--golden-color);
}

.tabela-de-equipamentos ul {
  line-height: 1.5em;
}

.tabela-de-equipamentos ul li {
  width: 90%;
  margin: auto;
  font-size: 1em;
  color: var(--text-primary-color);
  text-align: justify;
}

.equip-arma {
  padding: 5px 0 5px 0;
  list-style-type: none;
  font-size: 1.1em !important;
}

.descricao-arma {
  margin-left: 2.7em !important;
}

.descricao-arma > li {
  padding: 5px 0 5px 0;
}

/* ======== CONTEÚDO CLASSES ======== */

#classes {
  margin-top: 2em;
  text-align: justify;
  margin-left: 2em;
  margin-right: 2em;
}

.h1-classes {
  padding: 1.5em;
  text-align: center !important;
  text-shadow: 3px 3px black;
}

.h2-classes {
  text-shadow: 3px 3px black;
  border-radius: 20px;
}

.p-classes {
  margin-left: 2em;
}

/* ======== MEDIA QUERYS ======== */

@media (max-width: 900px) {
  #logo-ds {
    margin-left: 1em;
  }
  #header-icons-div {
    margin-right: 1em;
    gap: 2em;
  }
}

@media (max-width: 740px) {
  .header-logo {
    padding: 0.5em;
    overflow: hidden;
  }
  #logo-ds {
    margin-left: 0.5em;
    max-width: 95%;
  }
  #header-icons-div {
    margin-right: 0.5em;
    gap: 1.5em;
  }
  .navbar-menu-item-li:first-of-type {
    margin-left: 10px;
  }
  .navbar-menu-item-a {
    font-size: 0.7em;
  }
  .modalidades-box h2 {
    max-width: 60%;
  }
  .h2-bottom-border {
    max-width: 20%;
  }
}

@media (max-width: 580px) {
  ion-icon {
    font-size: 16px;
  }
  #header-icons-div {
    gap: 1em;
  }
  .modalidades-box h2 {
    max-width: 80%;
  }
  .h2-bottom-border {
    max-width: 30%;
  }
  .tabela-de-equipamentos {
    overflow: hidden;
    width: 98%;
    margin-right: 0.5em;
  }
  .descricao-arma {
    margin-left: 0.5em;
  }
  .tabela-de-equipamentos ul {
    line-height: 1.5em;
    font-size: 0.9em;
  }
  h1 {
    font-size: 1em;
    padding: 3px 10px 10px 10px;
  }
  h2 {
    font-size: 0.9em;
  }
  h3 {
    font-size: 0.8em;
  }
  p {
    font-size: 0.8em;
    line-height: 1.3em;
  }
}

@media (max-width: 380px) {
  #logo-ds {
    margin-left: 0.1em;
    max-width: 95%;
  }
  #header-icons-div {
    margin-right: 0.1em;
    gap: 0.7em;
  }
  ion-icon {
    font-size: 16px;
  }
  .toggle-button {
    font-size: 0.7em;
  }
  .modalidades-box h2 {
    max-width: 100%;
  }
}

@media (max-width: 280px) {
  #header-icons-div {
    gap: 0.5em;
  }
}
